body
{
  background-color: lemonchiffon !important;
  width:100%;
  height:100%;
}
.nav-bar
{
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar-brand 
{
	padding-left:50px!important; 
}

.nav-link
{
	font-weight:600;
	font-size: 16px;
	padding-right: 20px!important;
}
.nav-link:hover
{
  color:rgb(255, 165, 0) !important;
}

.dropdown-item:hover
{
  color:rgb(255, 165, 0) !important;
  background: none;
}



.animatedarea{
  background:  rgb(61, 190, 61);  
  
  width: 100%;
  height:100%;
  z-index: 2;
 
}

.animatedimages{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  
}

.animatedimages li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(61, 190, 61);
  background-image: url(raspberry.png);
  background-repeat: no-repeat;
  background-size: 100%;
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.animatedimages li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  background-image: url(orange.png);
  background-repeat: no-repeat;
  background-size: 100%;
}


.animatedimages li:nth-child(2){
  left: 10%;
  width: 65px;
  height: 65px;
  animation-delay: 2s;
  animation-duration: 12s;
  background-image: url(pasta.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.animatedimages li:nth-child(3){
  left: 70%;
  width: 55px;
  height: 55px;
  animation-delay: 4s;
  background-image: url(ice-cream.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.animatedimages li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
  background-image: url(grapes.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.animatedimages li:nth-child(5){
  left: 65%;
  width: 50px;
  height: 50px;
  animation-delay: 0s;
  background-image: url(tea.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.animatedimages li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
  background-image: url(cherries.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.animatedimages li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
  background-image: url(chili.png);
  background-repeat: no-repeat;
  background-size: 100%;
  
}

.animatedimages li:nth-child(8){
  left: 50%;
  width: 35px;
  height: 35px;
  animation-delay: 15s;
  animation-duration: 45s;
  background-image: url(donut.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.animatedimages li:nth-child(9){
  left: 20%;
  width: 40px;
  height: 40px;
  animation-delay: 2s;
  animation-duration: 35s;
  background-image: url(burger.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.animatedimages li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
  background-image: url(cupcake.png);
  background-repeat: no-repeat;
  background-size: 100%;
}



@keyframes animate {

0%{
transform: translateY(0) rotate(0deg);
opacity: 1;
}

25%{
opacity: 1;
}

50%{
  
  opacity: 0.5;

}
75%{

  opacity: 0.25;

}

100%{
transform: translateY(-1000px) rotate(720deg);
opacity: 0;
}

}



/* #section3
{
  font-family: "My Custom Font2";
  font-size:20px;
  padding:40px;
}
input{
  outline: 1px solid crimson;
  background-color: rgba(100,100,100,0.3);
  color:crimson;
} */

 @font-face {
  font-family: "My Custom Font";
  src: url("Lobster.otf");
}

@font-face {
  font-family: "My Custom Font3";
  src: url("Bradley-Regular.ttf");
}
/*
@font-face {
  font-family: "My Custom Font2";
  src: url("BRADHI.ttf");
}

#d1, #d2 {
	font-family:"My Custom Font2";
	font-weight: bold;
	font-size:20px;
  color:black;
  border:1px solid black;
  border-radius:20px; 
  background-color:lemonchiffon; 
  padding: 25px;
  margin-top: 15px;
} */
/* #d2{
 font-size:20px;
 text-align: center;
 height: 40%;
}
.projects
{
  text-align:center;
  font-family: "My Custom Font";
  color:brown;
  font-size: 20px;
  padding-top:6%;
  padding-bottom: 12%;
}

.project{
  height:200px;
  width:200px;
  border:2px solid orange;
  border-radius: 12px;
}
#project1{
background-image:url("pic1.jpeg");
background-size: contain;


}
#project2{
background-image:url("pic2.jpeg");
background-size: contain;
} */
/* #project3{
background-image:url("pic3.jpeg");
background-size: contain;
}
.contentD 
{
  
  width: 100%;
  text-align: center; 
}

.button 
{
  margin:auto;
  padding: 6px 10px;
  background-color: orange;
  color: black;
  font-family:"My Custom Font";
  font-weight: bold;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 700;
  font-size:17px;
  text-align: center;
  text-transform: uppercase;

} */
/* a.button:hover
{
  color: brown;
}
#linx
{
  color:crimson;
  font-weight: bold;
  
}
#linx:hover
{
  color:brown;
} */
/* #section2{
  background-color: rgb(206, 212, 206);
  background-size: contain;
  min-height: 600px;
  width: 100%;

} */
/* .cl{
  color:slategrey;
}
.cl:hover{
color: crimson;
}
.j1{
background-image: url("sakura.png") !important;
} */
#subheading1{
  color:white;
  margin-bottom: 25px;
  /* text-decoration: underline; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
#hurryUp{
  margin-top: 25px;
  margin-bottom: 25px;
}
#button1{
  display:inline-block;
  border:orange;
  border-radius: 10%;
  background-color: rgb(247, 147, 34);
  color:white;
  padding: 2%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#animPhotos{
  position:relative;
  padding:0%;
  margin:0%;
  left:0%;
}
#section1
{
  margin:0%;
  padding:0%;
  font-family: "My Custom Font";
  box-sizing: border-box;
  background-color: rgb(61, 190, 61);
  /* background-size: contain; */
  min-height: 800px;
  width: 100%;
 



}
 .jumbo
{
padding-top: 0px;
padding-left:20%;
padding-right: 20%;
z-index: 1;
} 

